.prev, .next {
  position: absolute;
  top: calc(50% - 6px - 0.7em);
  height: 1.2em;
  width: 1.2em;

  margin: 6px;
  padding: 0.2em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  mix-blend-mode: screen;

  text-align: center;
  line-height: 1.2em;
}
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
.prev { left: 0; }
.next { right: 0; }
a.hidden {
  visibility: hidden;
}

.image-container {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  .images-box {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: transform 1s;
  }
  .img-div {
    min-width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
  }
  img {
    width: 100%;
  }
  .dots {
    position: absolute;
    bottom: 0;
    align-self: center;
    .dot {
      color: rgba(255, 255, 255, 0.6);
      font-size: 30px;
    }
    .dot:hover, .dot.active { color: rgba(255, 255, 255, 0.95); }
  }
}