// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$lightest-gray: rgb(250, 250, 250);
$border-gray: lightgray;
$bright-blue: rgb(0, 149, 246);
$basic-text: rgb(38, 38, 38);
$sharp-corner: 2px;
$round-corner: 3px;
$list-width: 50vw;
$basic-padding: 10px;

.comment-container, .description-container {
  display: flex;
  .user-link {padding-right: 4px;}
  .profile-picture {
    margin-right: 4px;
    transform: translate(0, -0.3em);
  }
}

.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  ul {
    overflow-y: scroll;
    margin-top: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;

    li {
      text-align: left;
      padding-left: $basic-padding;
      padding-right: $basic-padding;

      > div {
        position: relative;

        .toggle-button {
          color: lightgray;
          max-height: 0.6em;
        }

        .comment-dropdown {
          background: white;
          padding: 6px;
          padding-top: 4px;
          padding-bottom: 2px;
          border: 1px solid lightgray;
          border-radius: 2px;
          position: absolute;
          z-index: 1;
          visibility: hidden;
        }
      }
    }
  }

  > div {
    padding: none;
    border-top: 1px solid $border-gray;
    input {
      font-size: 11px;
      padding: $basic-padding;
      border: none;
      width: calc(100% - 60px);
    }
    input:active {
      border: none;
    }
    button {
      width: 40px;
      padding: 10px;
      padding-left: 0; 
      border: none;
      background-color: white;
      color: $bright-blue;
      font-weight: 500;
    }
  }
}