// Place all the styles related to the api::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-width: min(70vw - 130px, 100vw - 10px);
$bright-blue: rgb(0, 149, 246);

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  min-height: calc(100vh - 50px);
  width: 70vw;
  padding: 20px;
  padding-top: 0px;

  .profile-header, .profile-grid {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    
    > * {background-color: blanchedalmond;}
  }
  
  .profile-header {
    min-height: 120px;
    border-bottom: 1px solid lightgray;
    > * {
      margin-left: calc( min(120px, 30vw) + 10px );
      min-width: $header-width;
      max-width: $header-width;
    }
    .pfp {
      overflow: hidden;
      display: flex;
      justify-content: center;
      
      position: absolute;
      border-radius: 50%;
      height: min(120px, 30vw);
      min-width: min(120px, 30vw);
      max-width: min(120px, 30vw);
      margin-left: 0;
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    .user-info {
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      align-items: center;
      p {
        font-size: 20px;
        margin-right: 10px;
      }
      button {
        padding: 4px;
        border: none;
        border-radius: 2px;
        background-color: $bright-blue;
        color: white;
        font-size: 11px;
        font-weight: 500;
      }
    }
    .user-stats {
      display: flex;
      flex-flow: row wrap;
      width: 300px;
      min-width: 20px;
      justify-content: space-between;
      > * {
        width: fit-content;
      }
      span {font-weight: 700;}
    }
  }
  .profile-grid {
    width: 100%;
    .box {
      width: calc(0.33 * 70vw - 1px);
      height: calc(0.33 * 70vw - 1px);
      overflow: hidden;
      margin: max(0.01%, 1px);
      background-color: lightgray;
      a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .box:nth-child(3n-2) { margin-left: 0; }
    .box:nth-child(3n) { margin-right: 0; }
  }
}


@media only screen and (max-width: 680px) {
  .user-profile {
    width: 100vw;

    .profile-header {
      padding: 10px;

      .user-info {
        margin-left: calc( min(120px, 30vw) + 10px );
        min-width: min(500px, calc(70vw - 20px));
        max-width: min(500px, calc(70vw - 20px));
        min-height: min(120px, 30vw);
        flex-direction: column;
        align-items: baseline;
      }
      .user-stats, .user-text {
        margin-left: 0;
        min-width: calc(100vw - 20px);
        max-width: calc(100vw - 20px);
      }
      .user-stats {
        min-width: 20px;
      }
    }
  }
}