$lightest-gray: rgb(250, 250, 250);
$border-gray: lightgray;
$bright-blue: rgb(0, 149, 246);
$basic-text: rgb(38, 38, 38);
$sharp-corner: 2px;
$round-corner: 3px;
$list-width: 50vw;
$basic-padding: 10px;

a.bold-link {
  text-decoration: none;
  color: $basic-text;
  font-weight: 600;
}
.user-link {
  width: fit-content;
  display: contents;
}
.profile-picture {
  // border: 1px solid lightgray;
  border-radius: 50%;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

  height: 2em;
  width: 2em;
  min-width: 2em;
  display: flex;
  justify-content: center;
}
.user-box {
  display: flex;
  align-items: center;
  flex-flow: row;
  .profile-picture {margin-right: 6px;}
}