$lightest-gray: rgb(250, 250, 250);
$border-gray: lightgray;
$bright-blue: rgb(0, 149, 246);
$basic-text: rgb(38, 38, 38);
$sharp-corner: 2px;
$round-corner: 3px;
$list-width: 50vw;
$basic-padding: 10px;

.post-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  > div {
    display: flex;
    align-items: center;
    flex-flow: row;
  }
}

#explore {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  > ul {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(min(100vw - 40px, 70vw));
    
    .post-item {
      margin: max(20px, 20vw);
      margin-top: 0;
      margin-bottom: 20px;
      border: 1px solid $border-gray;
      border-radius: $sharp-corner;
      box-sizing: border-box;
      // padding: $basic-padding;
      width: inherit;
      max-width: 800px;
      height: fit-content;
      display: flex;
      flex-direction: column;

      background-color: white;
      color: $basic-text;

      .img-div {
        max-height: calc(0.6 * (100vw - 60px));
      }

      .post-likes {
        margin-top: 6px;
        margin-left: 6px;
      }

      .description-container {
        // margin-top: 6px;
        margin-left: 10px;
      }
    }
  }
}