$lightest-gray: rgb(250, 250, 250);
$border-gray: lightgray;
$bright-blue: rgb(0, 149, 246);
$basic-text: rgb(38, 38, 38);
$sharp-corner: 2px;
$round-corner: 3px;
$list-width: 50vw;
$basic-padding: 20px;

#post-form {
  margin: 2em;
  margin-top: calc(50px + 2em);
  padding: $basic-padding;
  border: 1px solid $border-gray;
  box-sizing: border-box;
  background-color: white;
  width: $list-width;
  
  h3 {font-weight: 500;}
  input {width: 60%;}
  textarea {width: 38%; height: 100%;}
}

.user-box {
  display: flex;
  justify-content: space-between;
}

#explore {
  height: fit-content;
  width: 100%;
  
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .post-item {
      margin-bottom: 2em;
      border: 1px solid $border-gray;
      border-radius: $sharp-corner;
      box-sizing: border-box;
      padding: $basic-padding;
      width: $list-width;
      height: fit-content;
      display: flex;
      flex-direction: column;

      background-color: white;
      color: $basic-text;
    }
  }
}