$lightest-gray: rgb(250, 250, 250);
$border-gray: lightgray;
$bright-blue: rgb(0, 149, 246);
$basic-text: rgb(38, 38, 38);
$sharp-corner: 2px;
$round-corner: 3px;
$list-width: 50vw;
$basic-padding: 10px;

#nav-bar {
  a img {
    height: 30px;
    width: 30px;
  }
  .nav-dropdown-container {
    padding:2px;
    
    .nav-user-icon > .profile-picture {
      height: 26px;
      width: 26px;
      .profile-picture {height: inherit; width: inherit;}
      // background: #f09433; 
      // background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      // background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      // background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    .nav-dropdown-menu {
      position: fixed;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 6px;
      width: 160px;
      top: 50px;
      
      background-color: white;
      border: 1px solid lightgray;

      transform: translate(-80px);
      visibility: hidden;

      h3 {
        font-weight: 500;
      }

      a {
        text-decoration: none;
        color: $basic-text;
        padding-left: 2em;
      }
      
      ion-icon, i {
        position: absolute;
        left: 1em;
        padding-top: 0.2em;
      }
    }
  }
}