$lightest-gray: rgb(250, 250, 250);
$border-gray: lightgray;
$bright-blue: rgb(0, 149, 246);
$basic-text: rgb(38, 38, 38);
$sharp-corner: 2px;
$round-corner: 3px;

.logo {
  font-family: 'Lobster Two', cursive;
}
body, textarea {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: $basic-text;
  font-size: 14px;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  background-color: $lightest-gray;
  
  > div {
    display: inherit;
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
    width: 100%;
    height: 100%;
  }


  #session-form {
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    max-width: fit-content;
    
    > div {
      text-align: center;
      padding: 20px;
      margin: 10px;
      border: 1px solid $border-gray;
      border-radius: $sharp-corner;
      box-sizing: border-box;
      background-color: white;
      
      input {
        border: 1px solid $border-gray;
        border-radius: $round-corner;
        margin: 3px;
        margin-bottom: .4em;
        box-sizing: border-box;
        padding: 10px;
        width: 90%;
        background-color: $lightest-gray;
      }
      .logo {
        font-size: xxx-large;
        margin-bottom: .8em;
      }
      
      button {
        width: 90%;
        background-color: $bright-blue;
        border: none;
        border-radius: $round-corner;
        margin: 3px;
        margin-top: .6em;
        margin-bottom: .6em;
        padding: 10px;
        font-weight: bold;
        color: white;
      }

      a {
        padding: 0;
        height: fit-content;
        color: $bright-blue;
        font-weight: bold;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

#nav-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top:0;
  left:0;
  width: 70vw;
  height: 50px;
  padding-left: 15vw;
  padding-right: 15vw;
  background-color: white;
  border-bottom: 1px solid $border-gray;
  justify-content: space-between;

  * {
    display: inherit;
    flex-direction: inherit;
  }

  .logo, .logo > a {
    font-size: x-large;
    color: $basic-text;
    text-decoration: none;
  }
  
  #nav-links {
    align-content: center;
    align-items: center;

    .nav-login, .nav-signup {
      font: bold;
      text-decoration: none;
      padding-top: .2em;
      padding-bottom: .2em;
    }
    .nav-login {
      color: white;
      background-color: $bright-blue;
      border-radius: $round-corner;
    }
    .nav-signup {color: $bright-blue;}
  }

  button {
    padding: 0;
    height: fit-content;
    color: $bright-blue;
    background-color: none;
    border: none;
  }
}